body {
    background-color: gray;
}

.title-h2 {
    color: yellow;
    background-color: blue;
    font-size: 40px;  
    
}
.ini {
    background-color: rgb(255, 230, 0);
    color: rgb(248, 204, 6);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  
.ini2 {
    background-color: rgb(3, 39, 241);
    color: white;
    font-size: 30px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ini3 {
    background-color: red;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.campesino {
    height: auto;
    width: 500px;  
}  

.campe {
    height: 280px;
    width: 500px;
}


